<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>audio to speech</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1>audio to speech</h1>

    <div id="controls">
     <button id="recordButton">Record</button>
     <button id="pauseButton" disabled>Pause</button>
     <button id="stopButton" disabled>Stop</button>
    </div>

    <p><strong>Recordings:</strong></p>
    <ol id="recordingsList"></ol>
    <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>


    <h1><a href="{{url_for('trans')}}">convert to text</a></h1>
    
    <div>
      <h1>{{text}}</h1>
    </div>

  </body>
</html>